body {
    background-color: #41bde2;
    color: rgb(53, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #60a5e6;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}


.passo {
    display: none;
}

.passo.ativo {
    display:block;
}


main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}